/*Cabeçalho*/
header{
	background-color: #BF5D43;
	text-align: center;
	padding: 10px; /*gera espaço ao redor do elemento*/
	color: white;
}

/*Barra de navegação*/
/*definindo uma barra de navegação para o topo do site*/
.topnav{
	overflow: hidden; /*lida com elementos muito grandes para a area*/
	background-color: orange;
}

/*Formatando links descendentes da barra de navegação*/
.topnav a{
	float: left; /*alinha a flutuação do elemento*/
	text-align: center;
	padding: 14px 20px;/*espaçamento entre os elementos acima e abaixo*/
	text-decoration: none;/*Remove decoração de underline do link*/
}

/*Os links trocam de cor quando o mouse está em cima*/
.topnav a:hover{
	background-color: #43BFBF;
	color:#f2f2f2;
}
/*Div principal*/
.column{
	background-color: #009999;
	color:white;
	height: 80%;
}
/*Coluna esquerda e direita*/
.side{
	width: 25%;
	float:left;
}
/*Coluna Principal*/
.middle{
	width: 50%;
	float:left;

}
/*Rodapé*/
.footer{
	background-color: #BF5D43;
	text-align: center;
	padding: 20px;
}